<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net451" />
  <package id="MySql.Data" version="6.9.10" targetFramework="net451" />
  <package id="MySql.Data.Entity" version="6.9.10" targetFramework="net451" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net451" />
</packages>