<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicInterop" version="0.7.4" targetFramework="net451" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net451" />
  <package id="MySql.Data" version="6.9.10" targetFramework="net451" />
  <package id="MySql.Data.Entity" version="6.9.10" targetFramework="net451" />
  <package id="R.NET.Community" version="1.6" targetFramework="net451" />
</packages>