<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClimsoftV4.My.MySettings.mysql_climsoft_db_v4ConnectionString"
            connectionString="server=localhost;user id=root;password=admin;persistsecurityinfo=True;database=mysql_climsoft_db_v4"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>